USE [AceiteEletronico]
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_Processo_Perfil]    Script Date: 31/01/2020 12:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_upd_Processo_Perfil] AS
GO
