USE [AceiteEletronico]
GO
/****** Object:  StoredProcedure [dbo].[sp_upd_Processo_Perfil]    Script Date: 31/01/2020 15:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author     :	Wilson de Oliveira Junior
-- Create date: 31/01/2020
-- Description:	procedure que um processo peril existente
-- Change date: 
-- Change for : 
-- =============================================
ALTER PROCEDURE [dbo].[sp_upd_Processo_Perfil] AS